/* In your index.css or App.css file */
/* Apply Open Sans globally to the entire app */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


h1 {
  font-weight: 300;
}

p {
  font-weight: 400;
}

/* Navbar Active Link */
.navbar-nav .nav-link.active {
  color: #fff !important; /* Set active link color to white */
}

/* Background Colors */
.bg-success {
  background-color: #28a745;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-danger {
  background-color: #dc3545;
}

/* Text Colors */
.text-white {
  color: white;
}

.text-dark {
  color: darkgray;
}

/* Custom Modal Size */
.custom-modal .modal-dialog {
  max-width: 90%;
  width: 80%;
}

.custom-modal .modal-content {
  height: auto;
}

/* Margin Between Form Inputs */
.d-flex .flex-fill {
  margin-left: 30px;
}

/* Adjust Gap Between Form Elements */
.d-flex.gap-4 {
  gap: 30px;
}
