/* In your index.css or App.css file */
body {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 300;
}

p {
  font-weight: 400;
}



.navbar-nav .nav-link.active {
    color: #fff !important; /* Set active link color to white */
  }
  /* In your CSS file */
.bg-success {
    background-color: #28a745;
  }
  
  .bg-warning {
    background-color: #ffc107;
  }
  
  .bg-danger {
    background-color: #dc3545;
  }
  
  .text-white {
    color: white;
  }
  
  .text-dark {
    color: darkgray;
  }
  

  /* Custom modal size */
.custom-modal .modal-dialog {
    max-width: 90%; /* Adjust this value for desired size */
    width: 80%;     /* Set the width to 80% of the viewport */
  }
  
  .custom-modal .modal-content {
    height: auto; /* Allow the height to adjust automatically */
  }
  
  /* Margin between form inputs */
  .d-flex .flex-fill {
    margin-left: 30px;
  }
  
  /* Optional: Adjust the gap between form elements */
  .d-flex.gap-4 {
    gap: 30px;  /* 30px gap between inputs */
  }
  